/* Estilos Generales  */
:root {
    --white: #ffffff;
	--black: #000000;
	--backgroundPage: #e5f9db84;
    --color01: #a0d8b3;
    --color02: #A2A378;
    --color03: #83764F;
	--sm: 0.875rem;
	--md: 1rem;
	--lg: 1.12rem;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color:var(--backgroundPage) ;
}
header {
    background-color: #6c342867;
}

header nav img {
    height: 4rem;
    width: 4rem;
}
body h1 {
    align-content: center;
}
body img {
    
    height: 1.25rem;
    width: 1.25rem;
}

main {
    height: 75vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main article {
    width: 8rem;
    height: 8rem;
    background-color: var(--color03);
}

article {
    display: flex;
    border-radius: 20px;
    margin: 2.1rem;
    text-align: center;
    align-items: center;
    justify-content: center;        
}

footer {
    background-color: var(--color01);
    color: black;
    display: flex;
    position: fixed;
    width: 100vw;
    height: 8vh;
    bottom: 0px;
    align-items: center;
    justify-content: center;
}