/* Estilos Generales  */
:root {
    --white: #ffffff;
	--black: #000000;
	--backgroundPage: #e5f9db84;
    --color01: #a0d8b3;
    --color02: #A2A378;
    --color03: #83764F;
    --color04: #908e8e;;
	--sm: 0.875rem;
	--md: 1rem;
	--lg: 1.12rem;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:var(--backgroundPage) ;
}
header {
    display: flex;
    position: relative;
    right: 1rem;
}

.logo img {
    margin: 0.8rem 0.2rem 0.2rem 1.8rem ;
    height: 3rem;
    width: 3.6rem;
    position:fixed;
}

.navbar-right {
    display: flex;
    width: 99vw;
    height: 4.2rem;
}

.navbar-right ul {
	display: flex;
    list-style: none;
	padding: 0;
	margin: 0;
	width: 100vw;
	align-items: center;
    flex-direction: row-reverse;

}

.navbar-right img {
    height: 3.6rem;
    width: 6.2rem;
    margin-bottom: -1.6rem;
}

.navbar-right ul li a {
    color: var(--black);
    text-decoration: none;
    padding: 8px;
	border-radius: 8px;
    border: 2px var(--color04);
}

.navbar-right ul li a:hover {
	border: 1px solid var(--color01);
	color: var(--color03);
}
.title {
    color: aqua;
    background-color: blue;
    display: flex;
    position: absolute;
    margin: -1rem 0 0 -2.6rem;
    width: 96vw;
    justify-content: center;

}
body img {
    
    height: 1.25rem;
    width: 1.25rem;
}

main {
    margin: 2rem 0 0 0;
    height: 75vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main article {
    width: 8rem;
    height: 8rem;
    background-color: var(--color03);
}

article {
    display: flex;
    border-radius: 20px;
    margin: 2.1rem;
    text-align: center;
    align-items: center;
    justify-content: center;        
}

footer {
    background-color: var(--color01);
    color: black;
    display: flex;
    position: fixed;
    width: 100vw;
    height: 8vh;
    bottom: 0px;
    align-items: center;
    justify-content: center;
}